 #about img
 {
 	max-width: 100%;
 	height: auto;
 }

#one
{
	padding-left: 0;
	padding-right: 0;
}

#two
{
	background-color: #d1dad9;

}

#two img
{
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    position: relative;
    width: 200px;
}

#Heart:hover
{
	top: 20px;
}

