body
{
	padding-top: 50px;
}

 img
 {
 	max-width: 100%;
 	height: auto;
 }

.navbar-header a
{
	font-weight: bold;
	color: black !important;
	font-size: 20px;
}

.nav a{
	color: black !important;
	font-weight: bold;
	font-size: 12.5px;
}

 #about
 {
 	height: 100%;
 }

#panel-one
{
	display: inline-block;
	border: 3px solid red;
}

#one
{
	float: left;
	width: 50%;
	word-wrap: break-word;
}

#two
{
	float: right;
	width: 50%;
	word-wrap: break-word;
}

#panel-two
{
	display: inline-block;
	border: 3px solid blue;
}

#three
{
	float: left;
	width: 50%;
}

#four
{
	float: right;
	width: 50%;
}
